@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;@500;@600;@700;@800;@900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #93b1d1;
    flex-direction: column;
    gap: 50px;
}
a
{
    position: relative;
    background:black;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.25s;
}
a:hover 
{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
a:before 
{
    content: '';
    position: absolute;
    inset: 2px;
    background: #93b1d1;
}
a span
{
    position: relative;
    z-index: 1;
}